
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;;
}
.containerForm{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.controls {
    display: flex;
    border-radius: 5px;
    background-color: cornflowerblue;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
.textInput{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}

.input {
    float: left;
    width: 70%;
    margin-top: 6px;
    padding: 1rem 1.5rem;
    // width: 237px;
  
    margin-bottom: 1rem;
    font-size: 16px;
    border-color: cornflowerblue;
    border-radius: 5px;
   
    outline: 0;
    font-size: 1.3rem;
//    color:white;
    padding: 7px 7px;
    background:white;
    transition: border-color 0.2s;
}
.col25 {
    font-size: 18px;
    color: white;
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  @media screen and (max-width: 600px) {
    .textInput{
        justify-content: center;
        flex-direction: column;
        // width: 70%;
        align-items: center;
    }
    .col25 {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;

    }
    
    
  }
 
  .error{
        font-size: 14px;
        color: #5e35b1;
        
    }
    .link {
        color: #5e35b1;
        
    }